body {
  background-image: linear-gradient( 91.7deg,  rgba(50,25,79,1) -4.3%, rgba(122,101,149,1) 101.8% );
}

.appContainer {
  display: flex;
  justify-content: center;
}

.map-styles {
  height: 100px;
  overflow: hidden;
}

.map {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  height: 400px;
  border-radius: 75px;
}


/* {
  axios.get(`http://opentable.herokuapp.com/api/restaurants?name=${this.openTableLink(randomRestaurant.name)}`)
  .then(function (response) {
    console.log(response.data.restaurants[0].id);
    var rID = response.data.restaurants[0].id
    this.handleLink(rID)
    
  })
  .catch(function (error) {
    console.log(error);
  })
} */