.map {
    height: 100%;
  }
  
  #state {
    width: 200px;
    float: left;
  }
  
  #map {
    margin-left: 200px;
    height: 100px;
  }

  .restaurantContainer {
    /* margin-top: 200px; */
    height: 300px;
  }